<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Static-Website</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <h1 class="heading">Our Static Website</h1>
    <h3 class="title">{{name}}</h3>
    <img
      src="https://avatars.githubusercontent.com/u/103576706?v=4"
      alt="avatar"
    />
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet qui
      molestiae iusto rerum quidem porro asperiores reiciendis voluptate magnam
      neque deleniti error voluptates, tempore repellat at minima eius. Magni
      hic delectus ea ipsa, voluptatem eveniet voluptas consequuntur harum minus
      quam reprehenderit nulla libero error et fugit, quas ipsam iste aliquid ex
      ipsum accusamus adipisci temporibus natus? Odio harum corporis magni
      reiciendis iure nam ratione quas omnis, quis esse cum alias pariatur
      dolore magnam nemo? Voluptate, perspiciatis reprehenderit temporibus ea
      ipsam dolor at autem quis provident velit officiis praesentium hic sint
      quidem quod, vero earum voluptatem fugit facilis necessitatibus dolorum
      eaque!
    </p>
  </body>
</html>